@using System.Security.Claims
@model List<Chamado>

<div class="container mt-5">
    <h2>Backlog de Chamados</h2>

    @foreach (var item in Model)
    {
        <div class="card mb-3 p-3 shadow">

            <div class="d-flex justify-content-between align-items-center">

                <h5>@item.Titulo</h5>

                <div>
                    <span class="badge bg-secondary">@item.Status</span>

                    @if (item.UsuarioId != User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        <span class="badge bg-info">Cliente</span>
                    }
                    else
                    {
                        <span class="badge bg-dark">Meu</span>
                    }
                </div>

            </div>

            <p>@item.Descricao</p>

            <small>Categoria: @item.Categoria</small><br />
            <small>Usuário: @item.Usuario?.Email</small>

            <a href="/Chamados/Details/@item.Id" class="btn btn-primary mt-2">
                Ver Detalhes
            </a>
        </div>
    }
</div>