@using System.Security.Claims
@model List<Chamado>

<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
        </ol>
    </nav>
    
    <h2>Backlog de Chamados</h2>

    <div class="mb-3">

        <a asp-action="Backlog" class="btn btn-outline-secondary btn-sm">Todos</a>

        <a asp-action="Backlog" asp-route-status="Aberto" class="btn btn-outline-secondary btn-sm">
            Abertos
        </a>

        <a asp-action="Backlog" asp-route-status="EmAndamento" class="btn btn-outline-secondary btn-sm">
            Em andamento
        </a>

        <a asp-action="Backlog" asp-route-status="Concluido" class="btn btn-outline-secondary btn-sm">
            Concluídos
        </a>

    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Título</th>
            <th>Status</th>
            <th>Categoria</th>
            <th>Usuário</th>
            <th>Data</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>#@item.Id</td>
                <td>@item.Titulo</td>

                <td>
                    <span class="badge 
                        @(item.Status == StatusChamado.Aberto ? "bg-secondary" :
                        item.Status == StatusChamado.EmAndamento ? "bg-warning text-dark" :
                        "bg-success")">
                        @Html.DisplayFor(m => item.Status)
                    </span>
                </td>

                <td>@Html.DisplayFor(m => item.Categoria)</td>
                <td>@item.Usuario?.Email</td>
                <td>@item.DataCriacao</td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"
                       class="btn btn-sm btn-primary">
                        Ver
                    </a>
                </td>
            </tr>
        }
        </tbody>

    </table>

</div>